.Edit{
    display: grid;
    grid-template-areas: '. title .' '. editForm .' 
}

.Edit h3{
    grid-area: title
}

.Edit form{
    grid-area: editForm
}

.button{
    display: flex;
    justify-content: space-between;
}

.button #delete{
    background-color: rgb(255, 93, 93);
}