.Create {
    display: flex;
}

.Create a{
    color: rgb(230, 128, 128);
}

.Create a img{
    height: 100px;
}

#close_form{
    display: none;
}

.form{
    display: none
}

.form textarea{
    border: none;
    border-bottom: 1px solid gray;
}